In [9]:
def bio(age,name,height):
    print("Welcome Folks! Here are my detail:\n")


    return age,name,height

In [2]:
print(bio(23,"Syed Qalbe Hassan",170))

Welcome Folks! Here are my detail:

(23, 'Syed Qalbe Hassan', 170)

In [5]:
my = bio(23,"Syed Qalbe Hassan",170)

Welcome Folks! Here are my detail:

In [7]:
print(my)

(23, 'Syed Qalbe Hassan', 170)

In [10]:
def bio(age, name, height):
    print("Welcome Folks! Here are my details:\n")
    print(f"Age: {age}")
    print(f"Name: {name}")
    print(f"Height: {height} cm")

In [11]:
bio(23, "Syed Qalbe Hassan", 170)

Welcome Folks! Here are my details:

Age: 23
Name: Syed Qalbe Hassan
Height: 170 cm